*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    background: linear-gradient(90deg, #008080, #ACE1AF);
    border-radius: 30px;
    width: 90vw;
    height: 100vh;
    margin: 0 auto;
    box-shadow: 20px 0 20px rgba(80, 76, 76, 0.7), 0  20px 15px rgba(80, 76, 76, 0.7), -20px 0 30px rgba(80, 76, 76, 0.7), 0  -20px 35px rgba(80, 76, 76, 0.7);
}
.main__header{
    border-radius: 27px 27px 0 0;
    text-align: center;
    font-size: 3.4vw;
    letter-spacing: 1em;
    margin: 0 0 10vw;
    padding: 5vw;
    background-color: #000;
    color: #fff;
    text-shadow: 15px 0 15px rgba(80, 76, 76, 0.7), 0 15px 15px rgba(80, 76, 76, 0.7);
    transition: letter-spacing 2s, color 1.5s;
}
.main__header:hover{
    letter-spacing: 0;
    color: rgba(224, 28, 38, 0.781);
}
.main__sections{
    display: flex;
    justify-content: space-around;
    height: 20vh;
    margin-bottom: 10vw;
}
.main__box{
    position: relative;
    display: flex;
    justify-content: center;
}
.main__item{
    position: absolute;
    height: 18vw;
    width: 18vw;
    border: 3px solid #000;
    background-color: rgba(39, 209, 209, 0.521);
    transition: background-color 2s, transform 2s;
}
.main__box:hover .main__item{
    background-color: rgba(206, 22, 22, 0.842);
    transform: rotate(360deg);
}
.main__box:hover .main__item:nth-child(2){
    background-color: rgba(21, 155, 21, 0.863);
    transform: rotate(90deg);
}
.main__box:hover .main__item:last-child{
    background-color: rgba(49, 21, 209, 0.932);
    transform: rotate(-360deg);
}
.button{
    display: flex;
    justify-content: space-around;
}
.button__box{
    display: flex;
    justify-content: space-around;
}
.button__item{
    font-family: Arial, Verdana, sans-serif;
    font-size: 3vw;
    text-shadow: 15px 0 15px rgba(80, 76, 76, 0.7), 0 15px 15px rgba(80, 76, 76, 0.7);
    color: #fff;
    background-color: #000;
    margin: 5vw 0 10vw;
    padding: 1em;
    border-radius: 1em;
}
.button__item:hover{
    animation: button 2.5s ease;
}
@keyframes button{
    0% {transform: scale(1, 1);}
    40% {transform: scale(0.6, 0.6) rotate(60deg); background-color: #fff; color: #000;}
    80% {transform: scale(1.4, 1.4) rotate(-760deg);}
    100% {transform: scale(1, 1) rotate(-720deg);}
}


