*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    background-color: cornflowerblue;
    border: 3px solid red;
    border-radius: 30px;
    width: 90vw;
    margin: 0 auto;
    box-shadow: 20px 0 20px rgba(80, 76, 76, 0.7), 0  20px 15px rgba(80, 76, 76, 0.7), -20px 0 30px rgba(80, 76, 76, 0.7), 0  -20px 35px rgba(80, 76, 76, 0.7);
}
.main__header{
    border-radius: 27px 27px 0 0;
    text-align: center;
    font-size: 2.5em;
    letter-spacing: 1em;
    margin: 0 0 3.5em;
    padding: 1em;
    background-color: #000;
    color: #fff;
    text-shadow: 15px 0 15px rgba(80, 76, 76, 0.7), 0 15px 15px rgba(80, 76, 76, 0.7);
    transition: letter-spacing 2s, color 1.5s;
}
.main__header:hover{
    letter-spacing: 0;
    color: rgba(224, 28, 38, 0.781);
}
.main__sections{
    display: flex;
    justify-content: space-around;
    height: 20vh;
}
.main__box{
    position: relative;
    display: flex;
    justify-content: center;
}
.main__item{
    position: absolute;
    height: 10em;
    width: 10em;
    border: 3px solid red;
}
.button{
    display: flex;
    justify-content: center;
}
.button__hover{
    font-family: Arial, Verdana, sans-serif;
    font-size: 2.7em;
    text-shadow: 15px 0 15px rgba(80, 76, 76, 0.7), 0 15px 15px rgba(80, 76, 76, 0.7);
    color: #fff;
    background-color: #000;
    margin: 2em 0 3.5em;
    padding: 1em;
    border-radius: 1em;
}
.button__hover:hover{
    animation: button 2s ease;
}
@keyframes button{
    0% {transform: scale(1, 1);}
    40% {transform: scale(0.6, 0.6); background-color: #fff; color: #000;}
    60% {transform: scale(1.4, 1.4);}
    100% {transform: scale(1, 1);}
}
